<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.myapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:minSdkVersion="14" 
        android:targetSdkVersion="15" />

	<permission
        android:name="com.mycompany.myapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
	<uses-permission android:name="com.mycompany.myapp.permission.MAPS_RECEIVE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>	
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<uses-feature android:name="android.hardware.camera" android:required="false" />
	
	<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
		
	<!--
	IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
	to match your app's package name + ".permission.C2D_MESSAGE".
	-->
	<permission android:protectionLevel="signature"
		android:name="com.mycompany.myapp.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.mycompany.myapp.permission.C2D_MESSAGE" />
		
    <application
        
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
  		android:name="com.mycompany.myapp.MainApplication">
        <meta-data android:name="com.google.android.gms.version"
		    android:value="6587000" />
		<!-- TO TUKI ZRIHTAJ!!! -->
		    <!-- android:value="6111000" /> -->
			<!-- android:value="@integer/google_play_services_version" /> -->
			
		
        <activity
			
			android:theme="@android:style/Theme.Light"
			
			android:label="@string/app_name"
			
            android:name=".MainActivity"
            
            android:screenOrientation="portrait" >
			
			<!-- To spodaj je blo takoj pod activity: -->
			  
			
            
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" 
            android:parentActivityName="com.mycompany.myapp.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.myapp.MainActivity" />
        </activity>
        
         <activity
            android:label="Register New Account"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" 
            android:name=".RegisterActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.myapp.LoginActivity" />
            </activity>
         
          <activity
            android:label="Upload Picture to Server"
            android:theme="@android:style/Theme.NoDisplay"
            android:name=".UploadImage">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.myapp.MainActivity" />
            </activity>
         
         
		<!-- 
		<service android:name="com.parse.PushService" />
		<receiver android:name="com.parse.ParseBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.USER_PRESENT" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.parse.GcmBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />

				
				IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name.
				
				<category android:name="com.mycompany.myapp" />
			</intent-filter>
		</receiver>
 -->		
<!--  For GCM notifications -->    
        
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                 <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.mycompany.myapp" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" />
		
		
		<!-- End GCM notifications -->
		
		<meta-data
    android:name="com.google.android.maps.v2.API_KEY"
    android:value="AIzaSyBqFmYKvhSthZU-orqT9hop4R5LgXa_msM"/>
    </application>


    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application>
       
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    </application>

</manifest>

